{% extends "base.html" %}

{% block navbar %}
<!-- Navbar Start -->
{% if current_user.is_authenticated %}

<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Activities</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 250px">
                    <a href="{{url_for('add_product') }}" class="nav-item nav-link">Add product</a>
                    <a href="{{url_for('delete_product')}}" class="nav-item nav-link">Delete Product</a>
                    <a href="{{url_for('edit_product')}}" class="nav-item nav-link">Edit product</a>
                    <a href="" class="nav-item nav-link">Sales</a>
                    <a href="" class="nav-item nav-link">Orders</a>
                    <a href="" class="nav-item nav-link">Customers</a>
                    <a href="" class="nav-item nav-link">Reports</a>
                    
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">ATD</span>Collection</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                   
                    {% if current_user.is_authenticated %}
                    <div class="navbar-nav ml-auto py-0">
                        <a href="#" class="nav-item nav-link">{{ current_user.username }}</a>
                        <a href="{{ url_for('logout_page')}}" class="nav-item nav-link">Logout</a>
                    </div>
                    
                    {% else %}
                    <div class="navbar-nav ml-auto py-0">
                        <a href="{{ url_for('login_page')}}" class="nav-item nav-link">Login</a>
                        <a href="{{ url_for('register_page')}}" class="nav-item nav-link">Register</a>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>
{% endif %}


<!-- Navbar End -->
{% endblock %}